.pi/
.pi-subagents/
*.log
pin-log.txt
.sde-error.txt
.codex
.nvimlog

home/.config/**/node_modules/**
home/.config/**/yarn/**
home/.config/**/.yarn/**
home/.config/*/backups/**
home/.config/*/*/*~
home/.config/*/*/*.bak*
home/.config/*/*/*.backup*
home/.pi/agent/node_modules/
home/.pi/agent/npm/node_modules/

home/.config/alacritty/*
!home/.config/alacritty/alacritty.toml

home/.config/Code/*
!home/.config/Code/User/
home/.config/Code/User/*
!home/.config/Code/User/settings.json

home/.config/tmux/*
!home/.config/tmux/tmux.conf

home/.config/jj/*
!home/.config/jj/config.toml

home/.config/niri/*
!home/.config/niri/config.kdl

home/.config/fish/secrets.fish

home/.config/fish/functions/

home/.config/fish/completions/

home/.config/fish/fish_variables

home/.config/mpd/*
!home/.config/mpd/mpd.conf

home/.config/herdr/*
!home/.config/herdr/config.toml

home/.config/nvim/debug.log

home/.config/mango/README.md

home/.config/waybar/scripts/nethogs.*
