*

!.gitignore
!README.md
!.zshrc
!.p10k.zsh

!scripts/
!scripts/**
!screenshots/
!screenshots/**

!.config/
!.config/waybar/**
!.config/alacritty/**
!.config/mako/**
!.config/wofi/**
!.config/rofi/**
!.config/sway/**
!.config/niri/**
!.config/nvim/**
!.config/nvim-lazyvim/**
!.config/nvim2/**
!.config/tmux/**
!.config/fish/**
!.config/starship.toml
!.config/gitui/**
!.config/wireplumber/**
!.config/swaync/**
!.config/bat/**
!.config/jj/**
!.config/Code/**
!.config/rmpc/**
!.config/mpd/**
!.config/mango/**
!.config/fuzzel/**
!pi/**
!wallpapers/
