@define-color foreground #cdd6f4;
@define-color background #11111b;
@define-color border #f5c2e7;

* {
  /* background-color: @background; */
  background: transparent;
  color: @foreground;

  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
}

window#waybar>box {
  /* background-color: rgba(17, 17, 27, 0.8); */
  background-color: #1e1e2e;
  padding: 6px 0;
  /* border-radius: 8px; */
  /* margin: 0 16px; */
}

#workspaces * {
  all: unset;
}

.modules-left {
  margin-left: 16px;
}

.modules-center {
  background: #313244;
  border-radius: 4px;
  padding: 0 12px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  color: #A6E3A1;
  padding-right: 9px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces {
  margin-right: 4px;
  padding: 0 4px;
  background: #313244;
  border-radius: 4px;
}

#cpu,
#keyboard-state,
#network,
#disk,
#memory,
#clock,
#pulseaudio,
#custom-notification,
#mpd,
#tray,
#custom-nethogs,
#custom-power,
#custom-disk_io {
  padding: 0 8px;
  margin: 0 2px;
  background: #313244;
  border-radius: 4px;
}

tooltip {
  border-radius: 8px;
  background-color: @background;
}

#clock {
  /* margin-left: 12px; */
  /* color: #f5c2e7; */
}

#custom-power {
  color: #f38ba8;
  margin-right: 4px;
}

.hidden {
  opacity: 0;
}

menu {
  background-color: rgba(17, 17, 27, 0.8);
  border-radius: 8px;
}

menuitem:focus label,
menuitem:hover label {
  background: @foreground;
  color: @background;
}

menuitem label {
  padding: 4px;
  border-radius: 4px;
}
