prefer-no-csd

input {
    keyboard {
        xkb {
            layout "us"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        numlock
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}

output "VGA-1" {
    transform "normal"
    mode "1280x1024@60"
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
    hide-when-typing
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
        // fixed 1920
    }

    preset-window-heights {
        proportion 1.0
        fixed 656
    }

    default-column-width {}

    focus-ring {
        // off

        width 1

        active-color "#F5C2E7"

        inactive-color "#505050"

        // active-gradient from="#80c8ff" to="#e5989b" angle=45

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    struts {
        // left 8
        // right 8
        // top 8
        // bottom 8
    }
}

spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "/usr/bin/lxqt-policykit-agent"
spawn-at-startup "alacritty"
// spawn-sh-at-startup "swaybg -i ~/Pictures/retro2_live-l.gif -m fill"
spawn-sh-at-startup "swaybg -i ~/Pictures/square-city.jpg -m fill"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "xwayland-satellite"
environment {
    DISPLAY ":0"
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

blur {
  off
}

animations {
    // off

    window-open {
        duration-ms 180
    }

    window-close {
        duration-ms 140
    }

    workspace-switch {
      off
    }

    horizontal-view-movement {
      duration-ms 200
    }
}

// window-rule {
//     opacity 0.95
//     // exclude app-id="Alacritty"
//     exclude title=r#"YouTube - Brave"#
//     exclude title=r#"YouTube — Zen"#
//     exclude title=r#"Electron"#
//     exclude title=r#":*:althemer"#
//     exclude title=r#"target/debug/althemer"#
//     exclude title=r#"Obsidian"#
//     exclude title=r#"OBS"#
//     // exclude title=r#"nvim"#
//     exclude title=r#"T3 Code"#
//     exclude title=r#"xChatz"#
//     exclude title="Picture in picture"
//     exclude app-id="mpv"
// }

window-rule {
  draw-border-with-background false
  geometry-corner-radius 8
  clip-to-geometry true
}

window-rule {
  match app-id=r#"zen$"# title="^Picture-in-Picture$"
  match title="Picture in picture"
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id="showmethekey-gtk"
  match app-id="mpv"
  match app-id="scrcpy"
  match app-id=r#"^-policykit-agent"#
  open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {

window-rule {
  match app-id="foot"
  opacity 0.96
}

workspace "1" {
  layout {
    gaps 0
  }
}
workspace "2" {}
workspace "3" {}
workspace "4" {}
workspace "5" {}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+Shift+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn-sh "alacritty -o 'terminal.shell.program=\"/usr/bin/fish\"'"; }
    Alt+Space hotkey-overlay-title="Run an Application: rofi" { spawn-sh "rofi -show drun"; }
    // Alt+Space hotkey-overlay-title="Vicinae" { spawn-sh "vicinae toggle"; }
    Mod+D hotkey-overlay-title="Run an Application: rofi" { spawn-sh "rofi -show run"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Mod+P hotkey-overlay-title="Clipboard history: cliphist" { spawn-sh "cliphist list | rofi -dmenu -p '' | cliphist decode | wl-copy"; }
    Mod+E hotkey-overlay-title="File Manager" { spawn-sh "nautilus"; }
    Mod+B hotkey-overlay-title="Toggle waybar" { spawn-sh "~/.config/waybar/scripts/toggle_waybar.sh"; }

    Mod+Shift+c { spawn-sh "hyprpicker -a"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "~/.config/scripts/volume.sh up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "~/.config/scripts/volume.sh down"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "~/.config/scripts/volume.sh mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86Calculator { spawn-sh "gnome-calculator"; }

    F7        allow-when-locked=true { spawn-sh "playerctl previous"; }
    F8        allow-when-locked=true { spawn-sh "playerctl next"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+T repeat=false  hotkey-overlay-title="Toggle Notifications" { spawn-sh "swaync-client -t"; }
    Mod+Alt+T repeat=false { spawn-sh "swaync-client -d"; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }

    Mod+Alt+J     { focus-window-or-workspace-down; }
    Mod+Alt+K     { focus-window-or-workspace-up; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Shift+BracketRight      { focus-workspace-down; }
    Mod+Shift+BracketLeft        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=100 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=100 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=100 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=100 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 1; }
    Mod+8 { focus-workspace 2; }
    Mod+9 { focus-workspace 3; }
    Mod+0 { focus-workspace 4; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 1; }
    Mod+Ctrl+8 { move-column-to-workspace 2; }
    Mod+Ctrl+9 { move-column-to-workspace 3; }
    Mod+Ctrl+0 { move-column-to-workspace 4; }

    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-1%"; }
    Mod+Equal { set-column-width "+1%"; }

    Mod+Shift+Minus { set-window-height "-1%"; }
    Mod+Shift+Equal { set-window-height "+1%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+A { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    // Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "next"; }

    Print { screenshot; }
    Mod+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
