@define-color foreground #cdd6f4;
@define-color background #11111b;
@define-color border #f5c2e7;

* {
  background: transparent;
  color: @foreground;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
}


window#waybar>box {
  background-color: #1e1e2e;
  /* background-color: rgba(17, 17, 27, 0.5); */
  padding: 4px 0;
}

tooltip {
  background: @background;
  border-radius: 4px;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button {
  all: unset;
  padding: 0 6px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#workspaces button.hidden {
  opacity: 0.5;
}

#workspaces button.active * {
  color: #A6E3A1;
}

#workspaces button:nth-child(n+6) {
  opacity: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

#tray,
#network,
#pulseaudio,
#cpu,
#memory,
#clock,
#custom-notification,
#custom-power {
  padding: 0 8px;
}

menu {
  background-color: rgba(17, 17, 27, 0.8);
  border-radius: 8px;
}

menuitem:focus label,
menuitem:hover label {
  background: @foreground;
  color: @background;
}

menuitem label {
  padding: 4px;
  border-radius: 4px;
}
