#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
  address: "127.0.0.1:6601",
  theme: "catppuccin_mocha",
  album_art: (method: Auto),
  cache_dir: Some("~/Music/cache"),
)
