#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: "#cdd6f4",
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "#11111b", bg: "#b4befe", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#f38ba8", modifiers: "Bold"),
    current_item_style: (fg: "#11111b", bg: "#b4befe", modifiers: "Bold"),
    borders_style: (fg: "#b4befe"),
    highlight_border_style: (fg: "#b4befe"),
    symbols: (song: "󰎇", dir: "󰉋", marker: " ", ellipsis: "..."),
    progress_bar: (
        symbols: ["", "", " "],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "#f38ba8"),
        thumb_style: (fg: "#f38ba8", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#b4befe"),
    ),
    song_table_format: [ // view in the queue
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown")),
                style: (fg: "#cba6f7")
            ),
            width: "15%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown")),
                style: (fg: "#b4befe")
            ),
            width: "55%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#a6e3a1", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#a6e3a1", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#a6e3a1", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#94e2d5", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#b4befe"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#f38ba8", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#f38ba8", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#cdd6f4", modifiers: "Bold"),
                            separator_style: (fg: "#cdd6f4")))
                        ),
                        style: (fg: "#7f849c")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)), // track #
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
  cava: (
    bar_width: 2,
    bar_spacing: 1,
    bar_color: Rows([
      "#94e2d5",
      "#94e2d5",
      "#89dceb",
      "#89dceb",
      "#89dceb",
      "#74c7ec",
      "#74c7ec",
      "#74c7ec",
      "#89b4fa",
      "#cba6f7",
      "#cba6f7",
      "#f5c2e7",
      "#f5c2e7",
      "#eba0ac",
      "#eba0ac",
      "#f38ba8",
      "#f38ba8",
    ]),
  ),
)
